.App {
	text-align: center;
}

.App-header {
	align-items: center;
	background-color: #2E4558;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	font-size: calc(10px + 1vmin);
	justify-content: center;
	letter-spacing: 1px;
	min-height: 100vh;
}

.data-container {
	display: flex;
	width: 768px;
}

.img-container {
	padding: 30px;
	width: 60%;
}

.details-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	text-align: left;
	width: 40%;
}

.img-container .img-border {
	background-color: white;
	padding: 6px;
}

.img-container img {
	display: block;
	width: 100%;
}

.randomize {
	background-color: #8ED8FC;
	border: 0px;
	border-radius: 9px;
	font-weight: bold;
	font-size: inherit;
	padding: 18px 24px 18px 24px;
}